/**
 * UI colours
 */

$colour-black: #2a2a2a; // rgb(42, 42, 42)
$colour-grey-darkest: #3d3d3d; // rgb(61, 61, 61)
$colour-grey-darker: #525252; // rgb(82, 82, 82)
$colour-grey-dark: #666; // rgb(102, 102, 102)
$colour-grey: #7a7a7a; // rgb(122, 122, 122)
$colour-grey-light: #a4a4a4; // rgb(164, 164, 164)
$colour-grey-lighter: #ccc; // rgb(204, 204, 204)
$colour-grey-lightest: #f4f4f4; // rgb(244, 244, 244)
$colour-white: #fff; // rgb(255, 255, 255)


/**
 * Colors
 */

$brand-color: #011eff;
